* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-image: url('https://i.ytimg.com/vi/m1iTy0zJ8dU/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCTDt2SQGaH6r5M-M-v5zpB1-0aTg');
  background-size: cover;
  background-position: center;
}

input {
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
}